html {
    height: 100%;
    margin: 0;
  }

body {
    user-select: none;
    background-color: #E6E6FA; 
    overflow-x: hidden;
    text-align: center;
    height: 100%;
    margin: 0;
}

#logo-principal {
    content: url('../recursos/wac.svg');
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cuadro-logos {
    display: flex;
    flex-direction: column;
}

.fila-logos {
    flex-grow: 100;
}

.espacio-logo {
    height: 100%;
}

.logo {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo-ibjjf {
    content: url('../recursos/ibjjf.svg');
}

#logo-fabricio {
    content: url('../recursos/fabricio.png');
}

#logo-wac {
    content: url('../recursos/wac.svg');
}

.cuadro {
    border: 4px solid black; 
    height: 100%;
}

.contenido {
    height: 100%;
}

.cabecera {
    height: 30%;
}

.competidores {
    height: 13%;
}

.puntos {
    height: 32%;
}

.ventajas-faltas {
    height: 25%;
}

.titulo-kimono {
    height: 35%;
}

.espacio-kimono {
    height: 65%;
}

.titulo-puntos {
    height: 14%;
}

.espacio-puntos {
    height: 86%;
}

.titulo-ventajas-faltas { 
    height: 18%;
}

.espacio-ventajas-faltas {
    height: 82%;
}

.titulo-cuadro {
    font-size: 2.5vh; 
    font-weight: bold; 
    margin: 0px; 
    padding: 0px;
    height: 100%;
    width: 100%;
}

#titulo {
    font-weight: bold;
}

#version-tablero {
    cursor: pointer;
}

.espacio-reloj {
    height: 100%;
}

.espacio-reloj-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reloj-info {
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 0.9;
}

.espacio-reloj-botones {
    display: flex;
    flex-grow: 100;
}

.boton-reloj {
    flex-grow: 100;
    cursor: pointer;
}

.reloj {
    font-size: 21vh;
}

.reloj-medio {
    position: relative;
    top: -10px;
}

.kimono {
    cursor: pointer;
    background-color: white; 
}

.area-puntos {
    display: flex;
    font-size: 19vh; 
    padding: 0px;
}

#area-puntos-c2 {
    background: #009966; 
    background-size: 100%;
}

.puntos-boton {
    flex-grow: 100;
}

.area-ventajas {
    display: flex;
    background-color:#FFFF33; 
    font-size: 14vh; 
    padding: 0px;
}

.area-faltas {
    display: flex;
    background-color:#CC3333; 
    font-size: 14vh; 
    padding: 0px;
}

.atributo {
    margin: 0px;
    padding: 0px;
}

#mensaje-fondo {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.mensaje {
    background-color: white;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    display: none;
}

#mensaje-c1 {
    margin-left: 0;
}

#mensaje-c2 {
    margin-left: auto;
}

.mensaje-texto {
    font-weight: 800;
    font-size: 10vh;
    padding: 20px;
    overflow-wrap: break-word;
    hyphens: auto;
}